<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Pantry Item</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required />

    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" value="1" required />

    <label for="unit">Unit:</label>
     <select name="unit">
        <option value="kg">kg</option>
        <option value="g">g</option>
        <option value="lbs">lbs</option>
        <option value="oz">oz</option>
    </select>


    <label for="expiration">Expiration Date:</label>
    <input type="date" name="expiration" required />

    <label for="notes">Notes:</label>
    <textarea name="notes" place holder="Optional notes"></textarea>

    <button type="submit">Save Item</button>
</form>

</body>
</html>